!!! html
%html
  %head
    %script{ :src=>"http://openlayers.org/api/OpenLayers.js" }
    %script{ :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" }

    %script{ :src=>`"js/map.js" }

    %link{ :rel=>"stylesheet", :href=>"css/map.css", :type=>"text/css" }

  %body
    #map

